<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head  th:replace="_fragment :: head(~{::title})">

  <title>关于我</title>

</head>
<body>

<!--导航-->
<nav th:replace="_fragment :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >

</nav>

<!--中间内容-->
<div  class="m-container m-padded-tb-big animated fadeIn">
  <div class="ui container">

    <div class="ui stackable grid">
      <div class="eleven wide column">
        <div class="ui segment">
          <img src="https://pic4.zhimg.com/80/v2-de92efa05829871ae3f514fc96b08f67_720w.jpg" alt="" class="ui rounded image">
        </div>
      </div>
      <div class="five wide column">
        <div class="ui top attached segment">
          <div class="ui header">关于我</div>
        </div>
        <div class="ui attached segment">
          <p class="m-text">我，极客爱好者，渴望用程序改变世界，希望结识可以共同成长的小伙伴.</p>
          <p class="m-text">热爱编程，喜欢折腾，正在探索高效学习编程技术的方法...</p>
        </div>
        <div class="ui attached segment">
          <div class="ui orange basic left pointing label">编程</div>
          <div class="ui orange basic left pointing label">写作</div>
          <div class="ui orange basic left pointing label">思考</div>
          <div class="ui orange basic left pointing label">运动</div>
        </div>
        <div class="ui attached segment">
          <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">JavaScript</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">Node</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">React</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">RN</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">MYSQL</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
        </div>
        <div class="ui bottom attached segment">
          <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
          <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
          <a href="#" class="ui qq circular icon button" data-content="2690008100" data-position="bottom center"><i class="qq icon"></i></a>
        </div>

        <div class="ui wechat-qr flowing popup transition hidden">
          <img src="../static/images/wechat.png" alt="" class="ui rounded image" style="width: 110px">
        </div>
      </div>
    </div>

  </div>
</div>

<br>
<br>
<!--底部footer-->
<footer th:replace="_fragment :: footer" class="ui inverted vertical segment m-padded-tb-massive">


</footer>
<!--/*/<th:block th:replace="_fragment :: script">/*/-->

<!--/*/</th:block>/*/-->

<script>
  $('.menu.toggle').click(function () {
    $('.m-item').toggleClass('m-mobile-hide');
  });

  $('.wechat').popup({
    popup : $('.wechat-qr'),
    position: 'bottom center'
  });
  $('.qq').popup();

</script>
</body>
</html>